{% extends "base.html" %}

{% block title %}Registrate{% endblock %}

{% block h1 %}Adopción Responsable de Mascotas{% endblock %}

<main>

    <h2 class="titulo">Ingresar</h2>

    <form id="registroUsuario" action="">
        <label for="nombre">Nombre de usuario (*) </label>
        <input type="text" name="nombreUsuario">
        <label for="password">Contraseña (*) </label>
        <input type="password" name="password">  <br>
        <input class= "boton" id="botonIniciarSesion" type="button" value="Iniciar Sesión">
    </form>

    <ul class="links">
        <li><a href="#">¿Olvidaste tu contraseña?</a></li>
        <li><a href="registro.html">Crear una cuenta nueva</a></li>
    </ul>

</main>
