{% extends "base.html" %}

{% block title %}Registrate{% endblock %}

{% block h1 %}Adopción Responsable de Mascotas{% endblock %}

{% block main %}

    {% load crispy_forms_tags %}

    <main>

        <h2 class="titulo">Ingresar</h2>

        <form id="registroUsuario" action="" method="post">

            {% csrf_token %}
            {{ form | crispy }}

            <input type="submit" value="ingresar" name="nombreUsuario">

        </form>

        <ul class="links">

            <li><a href="#">¿Olvidaste tu contraseña?</a></li>
            <li><a href="registrate/">Crear una cuenta nueva</a></li>

        </ul>

    </main>

{% endblock %}
