{% extends "base.html" %}

{% block title %}Registrate{% endblock %}

{% block h1 %}Adopción Responsable de Mascotas{% endblock %}

<main id="mainRegistrate">

    <h2 class="titulo">Registro</h2>

    <p>Para generar tu usuario y formar parte de nuestra comunidad, completá el siguiente formulario. </p>
    <p class="negrita"> Los campos con (*) son obligatorios</p>

    <form id="registroUsuario" action="">
        <label for="nombre">Nombre de usuario (*) </label>
        <input type="text" name="nombreUsuario">
        <label for="email" name="email">Email (*) </label>
        <input type="email" name="email">
        <label for="password">Contraseña (*) </label>
        <input type="password" name="password">
        <label for="passwordValidar">Repetir contraseña (*) </label>
        <input type="password" name="passwordValidar">
        <label for="ciudad">Ciudad </label>
        <input type="text" name="ciudad">
        <p>Acepto no ofrecer/solicitar sumas de dinero durante ninguna instancia del proceso de adopción de mascotas.</p>
        <input type="checkbox" name="acepta" value="1"> <br>
        <input class="boton" type="button" value="Registrarme">
    </form>

</main>
