{% extends "base.html" %}

{% block title %}Elegir Dueño{% endblock %}

{% block main %}

    {% load static %}

    <main>

        <div id="mascotas">
            <h2 class="titulo">Elegir Dueño</h2>

            <form action="{% url 'hacer_duenio' %}" method="get">

                {% for postulante in postulantes %}

                    <input type="radio" name="postulante" value="{{ postulante }}">
                    <label for="{{ postulante }}">{{ postulante.usuario_postulado.username }}</label>

                {% endfor %}

                <input type="hidden" name="mascota" value="{{ mascota }}">

                <input type="submit" value="Definir Dueño">

            </form>

        </div>

    </main>

{% endblock %}
